/* Colors*/
/**
 * Flex Grid -
 * Version: 0.3.5
 *
 * Simple grid built with flex box and sass.
 *
 * Matthew Simo - matthew.a.simo@gmail.com
 */
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/**
 * Class Name Defaults
 *
 * Define class names for columns, rows and offsets in case compatibility with other
 * libraries is necessary.


/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
/**
 * Row wrapper class, flex box parent.
 */
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5%;
  margin-right: -0.5%; }

.col-xs, .col-sm, .col-md, .col-lg, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  margin-left: 0.5%;
  margin-right: 0.5%; }

.col-xs, .col-sm, .col-md, .col-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

/**
 * Generate a set of grid column classes using a namespace
 *
 * .col-[namespace] for intelligent column division
 * .col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 * .off-[namespace]-reset for resetting a col's offset for that and larger namespaces
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.col-xs-1 {
  flex-basis: 7.3333333333%;
  max-width: 7.3333333333%; }

.col-xs-2 {
  flex-basis: 15.6666666667%;
  max-width: 15.6666666667%; }

.col-xs-3 {
  flex-basis: 24%;
  max-width: 24%; }

.col-xs-4 {
  flex-basis: 32.3333333333%;
  max-width: 32.3333333333%; }

.col-xs-5 {
  flex-basis: 40.6666666667%;
  max-width: 40.6666666667%; }

.col-xs-6 {
  flex-basis: 49%;
  max-width: 49%; }

.col-xs-7 {
  flex-basis: 57.3333333333%;
  max-width: 57.3333333333%; }

.col-xs-8 {
  flex-basis: 65.6666666667%;
  max-width: 65.6666666667%; }

.col-xs-9 {
  flex-basis: 74%;
  max-width: 74%; }

.col-xs-10 {
  flex-basis: 82.3333333333%;
  max-width: 82.3333333333%; }

.col-xs-11 {
  flex-basis: 90.6666666667%;
  max-width: 90.6666666667%; }

.col-xs-12 {
  flex-basis: 99%;
  max-width: 99%; }

.off-xs-1 {
  margin-left: 8.3333333333%; }

.off-xs-2 {
  margin-left: 16.6666666667%; }

.off-xs-3 {
  margin-left: 25%; }

.off-xs-4 {
  margin-left: 33.3333333333%; }

.off-xs-5 {
  margin-left: 41.6666666667%; }

.off-xs-6 {
  margin-left: 50%; }

.off-xs-7 {
  margin-left: 58.3333333333%; }

.off-xs-8 {
  margin-left: 66.6666666667%; }

.off-xs-9 {
  margin-left: 75%; }

.off-xs-10 {
  margin-left: 83.3333333333%; }

.off-xs-11 {
  margin-left: 91.6666666667%; }

.off-xs-reset {
  margin-left: 0; }

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    flex-basis: 7.3333333333%;
    max-width: 7.3333333333%; }
  .col-sm-2 {
    flex-basis: 15.6666666667%;
    max-width: 15.6666666667%; }
  .col-sm-3 {
    flex-basis: 24%;
    max-width: 24%; }
  .col-sm-4 {
    flex-basis: 32.3333333333%;
    max-width: 32.3333333333%; }
  .col-sm-5 {
    flex-basis: 40.6666666667%;
    max-width: 40.6666666667%; }
  .col-sm-6 {
    flex-basis: 49%;
    max-width: 49%; }
  .col-sm-7 {
    flex-basis: 57.3333333333%;
    max-width: 57.3333333333%; }
  .col-sm-8 {
    flex-basis: 65.6666666667%;
    max-width: 65.6666666667%; }
  .col-sm-9 {
    flex-basis: 74%;
    max-width: 74%; }
  .col-sm-10 {
    flex-basis: 82.3333333333%;
    max-width: 82.3333333333%; }
  .col-sm-11 {
    flex-basis: 90.6666666667%;
    max-width: 90.6666666667%; }
  .col-sm-12 {
    flex-basis: 99%;
    max-width: 99%; }
  .off-sm-1 {
    margin-left: 8.3333333333%; }
  .off-sm-2 {
    margin-left: 16.6666666667%; }
  .off-sm-3 {
    margin-left: 25%; }
  .off-sm-4 {
    margin-left: 33.3333333333%; }
  .off-sm-5 {
    margin-left: 41.6666666667%; }
  .off-sm-6 {
    margin-left: 50%; }
  .off-sm-7 {
    margin-left: 58.3333333333%; }
  .off-sm-8 {
    margin-left: 66.6666666667%; }
  .off-sm-9 {
    margin-left: 75%; }
  .off-sm-10 {
    margin-left: 83.3333333333%; }
  .off-sm-11 {
    margin-left: 91.6666666667%; }
  .off-sm-reset {
    margin-left: 0; } }

@media only screen and (min-width: 992px) {
  .col-md-1 {
    flex-basis: 7.3333333333%;
    max-width: 7.3333333333%; }
  .col-md-2 {
    flex-basis: 15.6666666667%;
    max-width: 15.6666666667%; }
  .col-md-3 {
    flex-basis: 24%;
    max-width: 24%; }
  .col-md-4 {
    flex-basis: 32.3333333333%;
    max-width: 32.3333333333%; }
  .col-md-5 {
    flex-basis: 40.6666666667%;
    max-width: 40.6666666667%; }
  .col-md-6 {
    flex-basis: 49%;
    max-width: 49%; }
  .col-md-7 {
    flex-basis: 57.3333333333%;
    max-width: 57.3333333333%; }
  .col-md-8 {
    flex-basis: 65.6666666667%;
    max-width: 65.6666666667%; }
  .col-md-9 {
    flex-basis: 74%;
    max-width: 74%; }
  .col-md-10 {
    flex-basis: 82.3333333333%;
    max-width: 82.3333333333%; }
  .col-md-11 {
    flex-basis: 90.6666666667%;
    max-width: 90.6666666667%; }
  .col-md-12 {
    flex-basis: 99%;
    max-width: 99%; }
  .off-md-1 {
    margin-left: 8.3333333333%; }
  .off-md-2 {
    margin-left: 16.6666666667%; }
  .off-md-3 {
    margin-left: 25%; }
  .off-md-4 {
    margin-left: 33.3333333333%; }
  .off-md-5 {
    margin-left: 41.6666666667%; }
  .off-md-6 {
    margin-left: 50%; }
  .off-md-7 {
    margin-left: 58.3333333333%; }
  .off-md-8 {
    margin-left: 66.6666666667%; }
  .off-md-9 {
    margin-left: 75%; }
  .off-md-10 {
    margin-left: 83.3333333333%; }
  .off-md-11 {
    margin-left: 91.6666666667%; }
  .off-md-reset {
    margin-left: 0; } }

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    flex-basis: 7.3333333333%;
    max-width: 7.3333333333%; }
  .col-lg-2 {
    flex-basis: 15.6666666667%;
    max-width: 15.6666666667%; }
  .col-lg-3 {
    flex-basis: 24%;
    max-width: 24%; }
  .col-lg-4 {
    flex-basis: 32.3333333333%;
    max-width: 32.3333333333%; }
  .col-lg-5 {
    flex-basis: 40.6666666667%;
    max-width: 40.6666666667%; }
  .col-lg-6 {
    flex-basis: 49%;
    max-width: 49%; }
  .col-lg-7 {
    flex-basis: 57.3333333333%;
    max-width: 57.3333333333%; }
  .col-lg-8 {
    flex-basis: 65.6666666667%;
    max-width: 65.6666666667%; }
  .col-lg-9 {
    flex-basis: 74%;
    max-width: 74%; }
  .col-lg-10 {
    flex-basis: 82.3333333333%;
    max-width: 82.3333333333%; }
  .col-lg-11 {
    flex-basis: 90.6666666667%;
    max-width: 90.6666666667%; }
  .col-lg-12 {
    flex-basis: 99%;
    max-width: 99%; }
  .off-lg-1 {
    margin-left: 8.3333333333%; }
  .off-lg-2 {
    margin-left: 16.6666666667%; }
  .off-lg-3 {
    margin-left: 25%; }
  .off-lg-4 {
    margin-left: 33.3333333333%; }
  .off-lg-5 {
    margin-left: 41.6666666667%; }
  .off-lg-6 {
    margin-left: 50%; }
  .off-lg-7 {
    margin-left: 58.3333333333%; }
  .off-lg-8 {
    margin-left: 66.6666666667%; }
  .off-lg-9 {
    margin-left: 75%; }
  .off-lg-10 {
    margin-left: 83.3333333333%; }
  .off-lg-11 {
    margin-left: 91.6666666667%; }
  .off-lg-reset {
    margin-left: 0; } }

/* Colors*/
.tabs {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .tabs__list--primary {
    border-bottom: 1px solid #F5F5F5; }
    .tabs__list--primary li {
      margin-right: 0.12rem; }
    .tabs__list--primary a {
      cursor: pointer;
      color: #CED0D6;
      font-size: 0.750rem;
      font-weight: 600;
      line-height: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid transparent;
      transition: color 0.2s, border-bottom 0.4s; }
      .tabs__list--primary a.is-active {
        border-bottom: 1px solid #39D3D6;
        color: #525970; }
      .tabs__list--primary a:hover {
        color: #091333;
        border-bottom: 1px solid #091333; }
  .tabs__list--secondary {
    margin-top: 1rem;
    border-bottom: none; }
    .tabs__list--secondary li {
      margin-right: .1rem; }
    .tabs__list--secondary a {
      background-color: #BDBDBD;
      color: #FFF;
      font-size: .7rem;
      font-weight: 300;
      line-height: 2.4em;
      padding: 0 1.2em;
      display: inline-block;
      text-decoration: none;
      border-radius: .15rem;
      border: none !important;
      text-transform: uppercase;
      text-shadow: none; }
      .tabs__list--secondary a.is-active {
        color: #FFF;
        background-color: #39D3D6; }
      .tabs__list--secondary a:hover, .tabs__list--secondary a:focus {
        color: #FFF;
        background-color: #132666; }

.card__item {
  position: relative;
  margin-bottom: 1rem; }

.card a i i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #39D3D6;
  font-size: 1.1rem; }

.admin-block {
  /*display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;
  padding: 0;*/ }
  .admin-block__item {
    /*margin: 0 .5rem 1rem .5rem;
    padding: 0;
    width: 32%;*/
    position: relative;
    margin-bottom: 1rem; }
  .admin-block a {
    background-color: #FAFAFA;
    text-decoration: none;
    padding: 1rem 2rem 1rem 3rem;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    height: 100%;
    display: block; }
    .admin-block a i {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: #39D3D6;
      font-size: 1.1rem; }
    .admin-block a h3 {
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      padding: 0; }
    .admin-block a .tooltip {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 1rem;
      font-size: .7rem;
      border-radius: 50%;
      background-color: #EEE;
      display: block;
      width: 1rem;
      height: 1rem; }
      .admin-block a .tooltip i {
        position: relative;
        top: 0;
        left: 0;
        color: #bbbbbb;
        font-size: .7rem; }
  .admin-block a:hover, .admin-block a:focus {
    background-color: #132666;
    border: 1px solid #132666;
    outline: -webkit-focus-ring-color none;
    color: #FFF; }
    .admin-block a:hover h3, .admin-block a:focus h3 {
      color: #FFF; }

.card {
  margin-bottom: 1rem;
  background-color: #FAFAFA;
  padding: 1rem;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  display: block; }
  .card h4 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
    padding: 0; }
  .card ul {
    margin: 0;
    padding: 0; }
  .card .add-bundle {
    margin-top: 1rem; }
  .card .content-link-page {
    list-style: none;
    padding: .6rem 0 .6rem 0;
    border-bottom: 1px solid #F5F5F5;
    position: relative; }
    .card .content-link-page > a {
      border: none;
      text-decoration: none;
      font-size: .9rem;
      margin-right: .5rem; }
      .card .content-link-page > a:hover {
        color: #000; }
    .card .content-link-page b {
      font-weight: normal;
      font-size: .9rem;
      margin-right: .5rem; }
    .card .content-link-page .dropbutton-wrapper {
      position: absolute;
      right: 0;
      top: 0; }
      .card .content-link-page .dropbutton-wrapper .dropbutton-widget {
        border: none;
        display: inline-block;
        background-color: transparent;
        padding-right: 0;
        padding-top: 2rem;
        height: 1rem; }
        .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
          padding: 0 .8rem;
          display: block; }
        .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle {
          width: 2rem;
          bottom: auto; }
          .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
            width: 2rem;
            height: 2rem; }
        .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-arrow {
          border-width: 0;
          height: 5px;
          position: relative;
          top: -0.1rem;
          right: 0;
          margin-top: 0;
          width: 5px;
          overflow: visible;
          background-color: #39D3D6;
          border-radius: 50%;
          display: inline-block; }
          .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-arrow:before {
            content: '';
            display: block;
            background-color: #39D3D6;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            position: absolute;
            left: -0.5rem; }
          .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-arrow:after {
            content: '';
            display: block;
            background-color: #39D3D6;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            position: absolute;
            right: -0.5rem; }
        .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover .dropbutton-arrow {
          background-color: darkgray; }
          .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover .dropbutton-arrow:before, .card .content-link-page .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover .dropbutton-arrow:after {
            background-color: darkgray; }
      .card .content-link-page .dropbutton-wrapper.open .dropbutton-widget {
        border: none;
        display: inline-block;
        height: auto; }
        .card .content-link-page .dropbutton-wrapper.open .dropbutton-widget .dropbutton {
          border: 1px solid #EEE;
          background-color: #FFF;
          padding: 0.4rem 0;
          right: 0; }
      .card .content-link-page .dropbutton-wrapper.open .dropbutton-toggle button {
        background-color: #EEE; }
        .card .content-link-page .dropbutton-wrapper.open .dropbutton-toggle button .dropbutton-arrow {
          background-color: darkgray; }
          .card .content-link-page .dropbutton-wrapper.open .dropbutton-toggle button .dropbutton-arrow:before, .card .content-link-page .dropbutton-wrapper.open .dropbutton-toggle button .dropbutton-arrow:after {
            background-color: darkgray; }

.panel {
  padding: 0;
  border-bottom: 1px solid #EEF1F6;
  margin-bottom: 1rem; }
  .panel:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .panel__title {
    padding: 0;
    margin: 0 0 .5rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: #919296; }

#messages {
  margin: 1rem 0; }
  #messages ul {
    margin: 0;
    padding: 0; }
    #messages ul li {
      list-style: none;
      margin-bottom: .5rem; }
      #messages ul li:last-child {
        margin-bottom: 0; }
  #messages .message {
    padding: 1rem;
    border: #EBEBEB;
    background-color: #F5F5F5;
    color: #767676;
    font-size: 0.875em;
    font-weight: 300; }
    #messages .message a {
      color: inherit; }
    #messages .message__error {
      border: #D0011B;
      background-color: #D0011B;
      color: #FFF; }
    #messages .message__warning {
      border: #FFA003;
      background-color: #FFA003;
      color: #FFF; }

#breadcrumbs {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #F5F5F5; }
  #breadcrumbs ol {
    margin: 0;
    padding: 0;
    font-size: 0; }
    #breadcrumbs ol li {
      list-style: none;
      display: inline-block;
      font-size: 0.750rem;
      line-height: 1.5rem;
      color: #c2c2c2;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0; }
      #breadcrumbs ol li a {
        color: #CED0D6;
        text-decoration: none;
        margin-right: .6rem;
        display: block;
        font-weight: 600;
        transition: color 0.2s; }
        #breadcrumbs ol li a:hover {
          color: #091333; }
        #breadcrumbs ol li a:after {
          content: '';
          display: inline-block;
          width: 2px;
          height: 1.2rem;
          background-color: #F5F5F5;
          transform: translate(0, 0.3rem) rotate(20deg);
          margin-left: .6rem; }
      #breadcrumbs ol li.active {
        margin-right: 0; }
        #breadcrumbs ol li.active a {
          color: #525970; }
          #breadcrumbs ol li.active a:hover {
            color: #091333; }
        #breadcrumbs ol li.active a:after {
          display: none; }

#page-title {
  border-bottom: 1px solid #F5F5F5;
  padding: 0.5rem 1rem; }
  #page-title h1 {
    color: #525970;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0; }

table {
  width: 100%;
  margin: 0 0 1rem 0;
  border: none;
  border-collapse: collapse; }
  table tbody {
    border-top: 0.4rem solid #FFF; }
    table tbody tr {
      border-bottom: 0.4rem solid #FFF;
      background-color: #FAFAFA; }
  table th, table td {
    border-collapse: collapse;
    padding: .6rem; }
  table th {
    text-align: left;
    font-size: .65rem;
    text-transform: uppercase;
    letter-spacing: .03rem;
    margin-bottom: .4rem;
    color: darkgray;
    font-weight: 400; }
    table th a {
      color: inherit;
      text-decoration: none; }
    table th.is-active {
      border-bottom: 0.1rem solid #39D3D6; }
  table td {
    font-size: .9rem;
    font-weight: 300;
    vertical-align: middle; }
  table td.empty {
    padding: 1rem 0;
    font-size: 1.2rem;
    background-color: #FFF; }
  table .button, table .card .add-bundle a, .card .add-bundle table a, table .filter-help a, .filter-help table a, table .compact-link a, .compact-link table a, table .link-edit-summary, table .pager ul li.pager__item--first a, .pager ul li.pager__item--first table a, table .pager ul li.pager__item--previous a, .pager ul li.pager__item--previous table a, table .pager ul li.pager__item--next a, .pager ul li.pager__item--next table a, table .pager ul li.pager__item--last a, .pager ul li.pager__item--last table a, table .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset table .ui-button, table .ui-dialog .ui-dialog-buttonpane button, .ui-dialog .ui-dialog-buttonpane table button, table .project-update__download-link a, table .project-update__release-notes-link a, table .system-themes-list .operations a, .system-themes-list .operations table a, table
  .system-themes-list-uninstalled .operations a,
  .system-themes-list-uninstalled .operations table a, table .tabledrag-toggle-weight {
    background-color: #BDBDBD;
    padding: 0 .6rem;
    line-height: 1.6rem;
    font-size: .7rem; }
  table .title {
    font-weight: 700;
    color: #091333; }
  table .created,
  table .changed {
    color: #BDBDBD;
    font-size: .8rem; }
  table a {
    color: #1C3997;
    text-decoration: none; }
  table .tablesort {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 0 6px; }
    table .tablesort.tablesort--desc {
      background-position: 0 8px; }

.menu-label {
  font-weight: bold; }

.system-modules td {
  vertical-align: middle; }

.admin-requirements {
  margin-top: 1rem; }
  .admin-requirements .item-list ul {
    margin: 0;
    padding: 0; }
    .admin-requirements .item-list ul li {
      list-style: none; }

.system-modules .admin-requirements,
.system-modules .requirements {
  margin: 0; }

.system-modules td details {
  padding: 0;
  white-space: pre-wrap; }

.local-actions {
  margin-bottom: 1rem; }

.form-item {
  margin-bottom: 1rem; }
  .form-item:last-child {
    margin-bottom: 0; }
  .form-item label:not(.option) {
    display: block;
    font-size: 0.875em;
    margin-bottom: 0.5rem;
    color: #767676; }
  .form-item label.option {
    font-size: 0.8rem; }
  .form-item .field-suffix {
    font-size: .8rem;
    color: darkgray; }
  .form-item .description {
    display: none;
    font-size: 0.750em;
    font-weight: 300;
    margin-top: 0.5rem;
    color: darkgray; }
    .form-item .description a {
      color: inherit; }

.form-text,
.form-textarea,
.form-email,
.form-url,
.form-search {
  padding: .6rem;
  font-size: .8rem;
  width: 100%;
  color: #000;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  max-width: 100%; }
  .form-text:hover,
  .form-textarea:hover,
  .form-email:hover,
  .form-url:hover,
  .form-search:hover {
    border-color: #c2c2c2; }
  .form-text:focus,
  .form-textarea:focus,
  .form-email:focus,
  .form-url:focus,
  .form-search:focus {
    outline: -webkit-focus-ring-color auto 0;
    border-color: #39D3D6; }

.form-textarea {
  width: 100%;
  max-width: 100%; }

fieldset {
  border: 1px solid #F5F5F5 !important;
  padding-top: 3rem !important;
  margin-bottom: 1rem;
  -webkit-padding-before: 0;
  position: relative; }
  fieldset legend {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    line-height: 1rem;
    color: #091333;
    background-color: #FAFAFA;
    padding: 1rem;
    display: block;
    border-bottom: 1px solid #F5F5F5; }
  fieldset .fieldset-wrapper {
    padding: 1rem; }

.js td .dropbutton-wrapper {
  min-height: 2.5em; }

.dropbutton-widget {
  display: inline-block;
  border: 1px solid #e8e8e8;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  background-color: #FFF; }
  .dropbutton-widget:hover {
    border: 1px solid #c2c2c2; }
  .dropbutton-widget .dropbutton {
    list-style: none; }
  .dropbutton-widget .dropbutton-action a {
    display: block;
    text-decoration: none;
    padding: .6rem;
    font-size: .8rem;
    color: #000; }
    .dropbutton-widget .dropbutton-action a:hover {
      color: #1C3997; }
  .dropbutton-widget .dropbutton-arrow {
    font-size: .6rem; }

.js td.operations .dropbutton-multiple,
td.views-field-operations .dropbutton-multiple {
  float: right;
  margin-right: 0;
  padding-right: 0; }
  .js td.operations .dropbutton-multiple .dropbutton-widget,
  td.views-field-operations .dropbutton-multiple .dropbutton-widget {
    display: inline-block;
    position: relative; }
  .js td.operations .dropbutton-multiple.open .dropbutton-widget,
  td.views-field-operations .dropbutton-multiple.open .dropbutton-widget {
    display: block;
    position: absolute;
    right: 0; }

.js td.operations .dropbutton-single,
td.views-field-operations .dropbutton-single {
  float: right;
  margin-right: 0;
  padding-right: 0; }
  .js td.operations .dropbutton-single .dropbutton-widget,
  td.views-field-operations .dropbutton-single .dropbutton-widget {
    display: inline-block;
    position: relative; }

.form-select-wrapper {
  display: inline-block;
  border: 1px solid #e8e8e8;
  position: relative;
  border-radius: 0;
  overflow: hidden; }
  .form-select-wrapper:after {
    content: '';
    font-size: .6rem;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 0.3333em 0.3333em 0;
    display: block;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -0.1666em;
    width: 0;
    overflow: hidden; }
  .form-select-wrapper:hover {
    border: 1px solid #c2c2c2; }
  .form-select-wrapper, .form-select-wrapper > * {
    cursor: pointer; }
  .form-select-wrapper .form-select {
    box-sizing: content-box;
    background: #FFF;
    border: 0;
    outline: 0;
    padding: .6rem 30px .6rem .6rem;
    font-size: .8rem;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none; }

/* Details */
details {
  border: 1px solid #F5F5F5;
  padding: 0;
  margin-bottom: 1rem; }
  details summary::-webkit-details-marker {
    display: none !important; }
  details summary {
    font-size: 1rem;
    line-height: 1rem;
    color: #091333;
    background-color: #FAFAFA;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s; }
    details summary:hover {
      background-color: #F5F5F5; }
    details summary:before {
      content: '+';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      font-size: 1.250em;
      font-weight: 600;
      line-height: 1rem; }
  details[open] summary {
    border-bottom: 1px solid #F5F5F5; }
    details[open] summary:before {
      content: '-'; }
  details[open] details summary {
    border-bottom: none; }
  details .details-description {
    font-size: 0.875em;
    font-weight: 300;
    color: #000;
    padding: 1rem;
    border-bottom: 1px solid #F5F5F5; }
  details .details-content {
    padding: 1rem; }

/* Checkbox */
.form-checkbox,
.form-radio {
  visibility: hidden;
  width: 1rem;
  height: 1rem; }
  .form-checkbox:before,
  .form-radio:before {
    visibility: visible;
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    border: 0.2rem solid #BDBDBD;
    transition: all 0.2s; }
  .form-checkbox:disabled:before,
  .form-radio:disabled:before {
    border: 0.2rem solid white; }
  .form-checkbox:checked:before,
  .form-radio:checked:before {
    width: 0.4rem;
    height: 0.4rem;
    border: 0.3rem solid #39D3D6; }
  .form-checkbox:checked:disabled:before,
  .form-radio:checked:disabled:before {
    border: 0.3rem solid #b8eff0; }

.form-checkbox + label {
  line-height: 1rem; }

.adminic-checkbox {
  width: 40px;
  height: 24px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  border: 1px solid #e8e8e8;
  line-height: 1.5rem; }
  .adminic-checkbox label {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    transition: all 0.4s ease;
    border: 1px solid #e8e8e8;
    background: #EBEBEB; }
  .adminic-checkbox input[type=checkbox] {
    visibility: hidden; }
    .adminic-checkbox input[type=checkbox]:checked + label {
      left: 19px;
      background: #39D3D6; }
    .adminic-checkbox input[type=checkbox]:disabled + label {
      background: #FFF;
      opacity: .3; }
    .adminic-checkbox input[type=checkbox]:checked:disabled + label {
      left: 18px;
      background: #39D3D6; }

td .adminic-checkbox {
  margin-top: 0.4rem;
  width: 24px; }
  td .adminic-checkbox label {
    left: 3px; }
  td .adminic-checkbox input[type=checkbox]:checked + label {
    left: 3px; }
  td .adminic-checkbox input[type=checkbox]:checked:disabled + label {
    left: 3px; }

/*.js-form-type-checkbox {
  margin: 0 0 0.5rem 0;
  & > label {
    font-size: 0.875em;
    //margin-top: 0.5rem;
    display: inline-block;
    line-height: 1.5rem;
  }
}*/
.adminic-radio {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  border: 1px solid #e8e8e8; }
  .adminic-radio label {
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    transition: all 0.4s ease;
    border: 1px solid #e8e8e8;
    background: #EBEBEB; }
  .adminic-radio input[type=radio] {
    visibility: hidden; }
    .adminic-radio input[type=radio]:checked + label {
      background: #39D3D6; }
    .adminic-radio input[type=radio]:disabled + label {
      background: #FFF;
      opacity: .3; }

.js-form-type-radio {
  margin: 0 0 .4rem 0; }
  .js-form-type-radio > label {
    font-size: .8rem;
    margin-top: .4rem;
    display: inline-block; }

/* Vertical Tabs */
.vertical-tabs {
  border: 1px solid #F5F5F5; }
  .vertical-tabs .vertical-tabs__menu {
    border-top: none;
    z-index: 99;
    margin-left: -15.1em; }
  .vertical-tabs .vertical-tabs__menu-item {
    background-color: #FAFAFA;
    border: 1px solid #F5F5F5;
    border-right: none;
    border-bottom: none;
    z-index: 99; }
    .vertical-tabs .vertical-tabs__menu-item.is-selected {
      background-color: transparent;
      border-right: 1px solid transparent;
      box-shadow: 5px 0 0 #FFF; }
    .vertical-tabs .vertical-tabs__menu-item a {
      color: #000;
      font-size: .9rem;
      padding: 1rem; }
      .vertical-tabs .vertical-tabs__menu-item a strong {
        font-weight: normal; }
    .vertical-tabs .vertical-tabs__menu-item .vertical-tabs__menu-item-summary {
      font-size: .8rem;
      color: #999; }
    .vertical-tabs .vertical-tabs__menu-item:last-child {
      border-bottom: 1px solid #F5F5F5; }
  .vertical-tabs .vertical-tabs__pane {
    z-index: 1;
    padding: 1rem;
    min-height: 100%;
    border: none;
    background-color: #FFF; }

.form-composite {
  margin-right: 0; }

.last-checked {
  background: #1C3997;
  color: #FFF;
  padding: 1rem;
  font-size: .8rem; }
  .last-checked a {
    color: inherit; }
    .last-checked a:hover {
      color: #39D3D6; }

#blocks .form-item {
  margin: 0;
  padding: 0; }

.compact-link {
  margin-bottom: 1rem; }

/*.js-form-type-item,
.form-composite {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-color;
}*/
.js-text-format-wrapper .js-form-type-textarea {
  margin-bottom: 0; }

.js-text-format-wrapper .filter-wrapper {
  border: 1px solid #F5F5F5; }
  .js-text-format-wrapper .filter-wrapper .filter-guidelines {
    margin-top: 1rem;
    font-size: .8rem;
    color: #999; }
    .js-text-format-wrapper .filter-wrapper .filter-guidelines ul {
      margin: 0;
      padding: 0; }
      .js-text-format-wrapper .filter-wrapper .filter-guidelines ul li {
        list-style: none;
        margin: 0 0 .4rem 0; }

.cke_chrome {
  border: 1px solid #F5F5F5 !important; }
  .cke_chrome .cke_top {
    border-bottom: 1px solid #F5F5F5; }
  .cke_chrome .cke_bottom {
    border-top: 1px solid #F5F5F5; }
  .cke_chrome.cke_focus {
    border: 1px solid #39D3D6 !important; }

.tooltip {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 1rem;
  font-size: .7rem;
  border-radius: 50%;
  background-color: #EEE;
  display: block;
  width: 1rem;
  height: 1rem; }
  .tooltip i {
    position: relative;
    top: 0;
    left: 0;
    color: #bbbbbb;
    font-size: .7rem; }

.pager ul {
  font-size: 0.875rem;
  text-align: center; }
  .pager ul li a {
    text-decoration: none;
    color: #333;
    line-height: 2rem;
    padding: 0 0.25rem; }
  .pager ul li.is-active a {
    color: #39D3D6; }
  .pager ul li.pager__item--previous {
    margin-right: 1rem; }
  .pager ul li.pager__item--next {
    margin-left: 1rem; }

#help {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #F5F5F5;
  color: #0c1941;
  font-size: 0.875rem;
  position: relative; }
  #help:after {
    content: '?';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    display: block;
    color: #FFF;
    font-size: 3rem; }
  #help p {
    margin: 0 0 .5rem;
    line-height: 1.5rem;
    padding: 0; }
    #help p:last-child {
      margin: 0; }
  #help a {
    color: inherit; }

#block-adminic-content {
  margin: 1rem 0; }

.badge {
  padding: .3rem .6rem;
  background-color: #EBEBEB;
  text-transform: uppercase;
  font-size: .65rem;
  border-radius: 3px;
  color: #FFF; }
  .badge--published {
    background-color: #39D3D6; }

.type {
  padding: .3rem .6rem;
  background-color: #BDBDBD;
  text-transform: uppercase;
  font-size: .65rem;
  border-radius: 3px;
  color: #FFF; }

.views-exposed-form {
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  padding: 1rem;
  margin-bottom: 1rem; }
  .views-exposed-form .form-item {
    float: left;
    margin-right: 1rem; }
  .views-exposed-form .form-submit {
    background-color: gainsboro;
    margin-top: 1.2rem; }

.views-form form #edit-header .form-item {
  float: left; }

.views-form form #edit-header .form-actions {
  margin-top: 1.25rem;
  float: left; }
  .views-form form #edit-header .form-actions .form-submit {
    background-color: #BDBDBD;
    color: #FFF; }

.views-ui-dialog .views-offset-bottom {
  border-top: none; }

.views-edit-view .unit-title {
  padding: 1rem; }

.views-displays {
  border: 1px solid #F5F5F5; }

.views-edit-view .views-display-top {
  height: 3rem;
  background-color: #FAFAFA;
  border-bottom: 1px solid #F5F5F5;
  padding: 0; }
  .views-edit-view .views-display-top .tabs.secondary li {
    list-style: none;
    display: inline-block;
    height: 3rem;
    border-right: 1px solid #F5F5F5;
    padding: 0;
    margin: 0; }
  .views-edit-view .views-display-top .tabs.secondary a {
    line-height: 3rem;
    padding: 0 1rem;
    border: none;
    color: darkgray;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase; }
    .views-edit-view .views-display-top .tabs.secondary a:hover {
      background-color: #F5F5F5; }
    .views-edit-view .views-display-top .tabs.secondary a.is-active {
      color: #000;
      font-weight: bold;
      background-color: #FFF;
      height: 3.1rem; }
  .views-edit-view .views-display-top .tabs.secondary li.add .icon {
    top: 1rem;
    margin-right: 0.4rem; }

.views-edit-view .form-edit .form-actions {
  background-color: #FAFAFA;
  border-right: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5; }

.views-preview-wrapper {
  border: 1px solid #F5F5F5; }

.view-preview-form__title {
  background-color: #FAFAFA;
  border-bottom: 1px solid #F5F5F5;
  font-size: 1rem; }

.views-ui-display-tab-bucket {
  border-bottom: 1px solid #F5F5F5;
  padding: 0; }
  .views-ui-display-tab-bucket .views-ui-display-tab-bucket__title {
    color: darkgray;
    text-transform: uppercase;
    background-color: #FAFAFA;
    border-bottom: 1px solid #F5F5F5;
    padding: 0.8rem;
    margin: 0 0 0.4rem 0; }
  .views-ui-display-tab-bucket .views-display-setting {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem !important;
    margin: 0;
    background-color: transparent !important; }
    .views-ui-display-tab-bucket .views-display-setting .label {
      margin: 0 0.4rem 0 0;
      color: #000; }
    .views-ui-display-tab-bucket .views-display-setting .views-ajax-link {
      margin: 0;
      color: #1C3997;
      text-decoration: none; }
      .views-ui-display-tab-bucket .views-display-setting .views-ajax-link:hover {
        text-decoration: underline; }
  .views-ui-display-tab-bucket .dropbutton-wrapper {
    top: 0.4rem;
    right: 0.4rem; }
    .views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
      padding: 0.3rem 0.4rem;
      font-size: 0.8rem !important; }

details.views-display-column .details-content {
  padding: 0 !important; }

.messages {
  padding: 1rem;
  border: #EBEBEB;
  background-color: #F5F5F5;
  color: #767676;
  font-size: 0.875em;
  font-weight: 300; }
  .messages.messages--warning {
    border: #FFA003;
    background-color: #FFA003;
    color: #FFF; }

/**
 * Presentational styles for Drupal dialogs.
 */
.ui-dialog {
  background: transparent;
  border: 0;
  position: absolute;
  z-index: 1260;
  padding: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0; }

@media all and (max-width: 48em) {
  /* 768px */
  .ui-dialog {
    min-width: 92%;
    max-width: 92%; } }

.ui-dialog .ui-dialog-titlebar {
  background: #1C3997;
  border-radius: 0;
  padding: 15px 49px 15px 15px;
  /* LTR */ }

[dir="rtl"] .ui-dialog .ui-dialog-titlebar {
  padding-left: 49px;
  padding-right: 15px; }

.ui-dialog .ui-dialog-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #FFF;
  -webkit-font-smoothing: antialiased; }

.ui-dialog .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  right: 20px;
  /* LTR */
  top: 20px;
  margin: 0;
  height: 16px;
  width: 16px;
  position: absolute; }

[dir="rtl"] .ui-dialog .ui-dialog-titlebar-close {
  right: auto;
  left: 20px; }

.ui-dialog .ui-icon.ui-icon-closethick {
  background: url(../../../../../core/misc/icons/ffffff/ex.svg) 0 0 no-repeat;
  margin-top: -12px; }

.ui-dialog .ui-widget-content.ui-dialog-content {
  background: #ffffff;
  overflow: auto;
  padding: 1em;
  border: 0; }

.views-ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0; }

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  background: #F5F5F5;
  /*border-top: 1px solid #bfbfbf;*/
  margin: 0;
  padding: 1rem;
  border-top: 1px solid #EBEBEB;
  border-radius: 0; }

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  margin: 0;
  padding: 0;
  float: none; }

.ui-dialog .ui-dialog-content {
  position: static; }

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  background-image: none; }
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.button--danger {
    background-color: #D0011B !important; }

.ui-button-text-only .ui-button-text {
  padding: 0.8rem 1.2rem; }

/* Form action buttons are moved in dialogs. Remove empty space. */
.ui-dialog .ui-dialog-content .form-actions {
  padding: 0;
  margin: 0; }

.ui-dialog .ajax-progress-throbber {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%;
  /* LTR */
  position: fixed;
  top: 48.5%;
  z-index: 1000;
  background-color: #232323;
  background-image: url(../../../../../core/misc/loading-small.gif);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 24px;
  opacity: 0.9;
  padding: 4px;
  width: 24px; }

[dir="rtl"] .ui-dialog .ajax-progress-throbber {
  left: auto;
  right: 49%; }

.ui-dialog .ajax-progress-throbber .throbber,
.ui-dialog .ajax-progress-throbber .message {
  display: none; }

.views-ui-dialog .views-offset-top {
  border-bottom: 1px solid #EBEBEB; }

/* Pages */
.project-update__version .project-update__version-links {
  margin: 0;
  padding: 0; }
  .project-update__version .project-update__version-links li {
    display: inline-block; }

.project-updates__details {
  color: #999;
  font-size: .8rem; }

.project-update__status.project-update__status--security-error {
  color: #D0011B; }

.project-update__status .project-update__status-icon {
  display: none; }

#blocks .region-title td {
  font-weight: 700;
  padding-top: 1rem; }

#blocks .region-title .region-title__action {
  float: right; }

#blocks .region-empty td {
  padding: 2rem 0;
  text-align: center; }

.system-themes-list .theme-info__notes,
.system-themes-list-uninstalled .theme-info__notes {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #BDBDBD;
  font-size: .7rem;
  text-transform: uppercase;
  line-height: 1.4rem;
  padding: 0 1rem; }

.system-themes-list .theme-default .theme-info__notes,
.system-themes-list-uninstalled .theme-default .theme-info__notes {
  background-color: #39D3D6;
  color: #FFF; }

.system-themes-list .theme-admin .theme-info__notes,
.system-themes-list-uninstalled .theme-admin .theme-info__notes {
  background-color: #091333;
  color: #FFF; }

.system-themes-list .system-themes-list__header,
.system-themes-list-uninstalled .system-themes-list__header {
  display: block;
  margin-bottom: 1rem; }

.system-themes-list .theme-selector,
.system-themes-list-uninstalled .theme-selector {
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  padding: 1rem 1rem 5rem 1rem !important;
  position: relative; }

.system-themes-list .screenshot-wrapper,
.system-themes-list-uninstalled .screenshot-wrapper {
  position: relative; }
  .system-themes-list .screenshot-wrapper .screenshot,
  .system-themes-list .screenshot-wrapper .no-screenshot,
  .system-themes-list-uninstalled .screenshot-wrapper .screenshot,
  .system-themes-list-uninstalled .screenshot-wrapper .no-screenshot {
    display: block;
    max-width: 100%;
    height: auto;
    float: none;
    padding: 0;
    border: none; }

.system-themes-list .theme-info,
.system-themes-list-uninstalled .theme-info {
  float: none; }

.system-themes-list .theme-info__description,
.system-themes-list-uninstalled .theme-info__description {
  font-size: .8rem;
  color: #BDBDBD; }

.system-themes-list .operations,
.system-themes-list-uninstalled .operations {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: .4rem; }
  .system-themes-list .operations li,
  .system-themes-list-uninstalled .operations li {
    padding: 0 !important;
    margin-right: .4rem;
    margin-bottom: .4rem;
    border-right: none; }

.theme-default .theme-info__header {
  font-weight: normal; }

.system-themes-list-uninstalled {
  border-top: none; }

.views-field-roles-target-id ul {
  margin: 0;
  padding: 0; }
  .views-field-roles-target-id ul li {
    list-style: none;
    display: inline-block; }

.permissions .module {
  font-size: 1.2rem;
  padding: 2rem 0; }

.permissions .permission {
  padding-left: 0; }
  .permissions .permission .title {
    font-weight: normal; }
    .permissions .permission .title .placeholder {
      font-weight: bold; }
  .permissions .permission .description {
    margin-top: .5rem;
    font-size: .8rem;
    color: #999; }

.permissions .checkbox .checkbox {
  margin: 0;
  padding: 0; }

.views-field-user-bulk-form .form-item {
  margin: 0;
  padding: 0; }

:focus {
  outline: -webkit-focus-ring-color auto 0px; }

html, body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: #FFF; }

summary::-webkit-details-marker {
  display: inline-block;
  -webkit-margin-end: 0.4rem; }

summary[aria-expanded="false"]::-webkit-details-marker {
  display: inline-block;
  width: 0.35rem;
  height: 0.5rem;
  -webkit-margin-end: 0.4rem; }

summary[aria-expanded="true"]::-webkit-details-marker {
  display: inline-block;
  width: 0.5rem;
  height: 0.35rem;
  -webkit-margin-end: 0.4rem; }

/**
 * Reusable layout styles.
 */
#page {
  padding: 0 1rem;
  margin: 0; }
  #page:after {
    content: "";
    display: table;
    clear: both; }

a {
  color: #1C3997; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
  color: darkgray; }

h1 {
  font-size: 2rem;
  letter-spacing: .05rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-size: 1rem; }

.button, .card .add-bundle a, .filter-help a, .compact-link a, .link-edit-summary, .pager ul li.pager__item--first a, .pager ul li.pager__item--previous a, .pager ul li.pager__item--next a, .pager ul li.pager__item--last a, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button, .ui-dialog .ui-dialog-buttonpane button, table .project-update__download-link a,
table .project-update__release-notes-link a, .system-themes-list .operations a,
.system-themes-list-uninstalled .operations a, .tabledrag-toggle-weight {
  background-color: #1C3997;
  color: #FFF;
  font-size: .8rem;
  font-weight: normal;
  line-height: 2.8em;
  padding: 0 1.6em;
  display: inline-block;
  text-decoration: none;
  border-radius: .15rem;
  border: none;
  text-transform: uppercase;
  text-shadow: none; }
  .button:hover, .card .add-bundle a:hover, .filter-help a:hover, .compact-link a:hover, .link-edit-summary:hover, .pager ul li.pager__item--first a:hover, .pager ul li.pager__item--previous a:hover, .pager ul li.pager__item--next a:hover, .pager ul li.pager__item--last a:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:hover, .ui-dialog .ui-dialog-buttonpane button:hover, table .project-update__download-link a:hover,
  table .project-update__release-notes-link a:hover, .system-themes-list .operations a:hover,
  .system-themes-list-uninstalled .operations a:hover, .tabledrag-toggle-weight:hover, .button:focus, .card .add-bundle a:focus, .filter-help a:focus, .compact-link a:focus, .link-edit-summary:focus, .pager ul li.pager__item--first a:focus, .pager ul li.pager__item--previous a:focus, .pager ul li.pager__item--next a:focus, .pager ul li.pager__item--last a:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:focus, .ui-dialog .ui-dialog-buttonpane button:focus, table .project-update__download-link a:focus,
  table .project-update__release-notes-link a:focus, .system-themes-list .operations a:focus,
  .system-themes-list-uninstalled .operations a:focus, .tabledrag-toggle-weight:focus {
    background-color: #132666; }

.button.button--small, .card .add-bundle a.button--small, .filter-help a.button--small, .compact-link a.button--small, .button--small.link-edit-summary, .pager ul li.pager__item--first a.button--small, .pager ul li.pager__item--previous a.button--small, .pager ul li.pager__item--next a.button--small, .pager ul li.pager__item--last a.button--small, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button--small.ui-button, .ui-dialog .ui-dialog-buttonpane button.button--small, table .project-update__download-link a.button--small,
table .project-update__release-notes-link a.button--small, .system-themes-list .operations a.button--small,
.system-themes-list-uninstalled .operations a.button--small, .button--small.tabledrag-toggle-weight,
.small,
.card .add-bundle a,
.compact-link a,
.pager ul li.pager__item--first a,
.pager ul li.pager__item--previous a,
.pager ul li.pager__item--next a,
.pager ul li.pager__item--last a,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button,
table .project-update__download-link a,
table .project-update__release-notes-link a,
.tabledrag-toggle-weight {
  line-height: 2em;
  padding: 0 1em; }

.mini, .filter-help a, .link-edit-summary, .system-themes-list .operations a,
.system-themes-list-uninstalled .operations a {
  line-height: 1.8em;
  padding: 0 .6em;
  font-size: .7rem; }

.secondary-button, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:not(.button--primary), table .project-update__download-link a,
table .project-update__release-notes-link a, .system-themes-list .operations a,
.system-themes-list-uninstalled .operations a, .tabledrag-toggle-weight {
  background-color: #39D3D6; }
  .secondary-button:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:hover:not(.button--primary), table .project-update__download-link a:hover,
  table .project-update__release-notes-link a:hover, .system-themes-list .operations a:hover,
  .system-themes-list-uninstalled .operations a:hover, .tabledrag-toggle-weight:hover, .secondary-button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:focus:not(.button--primary), table .project-update__download-link a:focus,
  table .project-update__release-notes-link a:focus, .system-themes-list .operations a:focus,
  .system-themes-list-uninstalled .operations a:focus, .tabledrag-toggle-weight:focus {
    background-color: #1C3997; }

.gray-button, .filter-help a, .link-edit-summary {
  background-color: #BDBDBD; }
  .gray-button:hover, .filter-help a:hover, .link-edit-summary:hover, .gray-button:focus, .filter-help a:focus, .link-edit-summary:focus {
    background-color: #1C3997; }

.tabledrag-toggle-weight {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

nav ul {
  margin: 0;
  padding: 0; }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0; }

.tooltip {
  display: inline;
  position: relative; }

.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(data-tooltip);
  left: 10%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px; }

.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99; }

/*# sourceMappingURL=adminic.css.map */