.admin-block {
  /*display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;
  padding: 0;*/
  &__item {
    /*margin: 0 .5rem 1rem .5rem;
    padding: 0;
    width: 32%;*/
    position: relative;
    margin-bottom: 1rem;
  }
  a {
    background-color: $gray-color-ligter;
    text-decoration: none;
    padding: 1rem 2rem 1rem 3rem;
    border: 1px solid $gray-color;
    box-sizing: border-box;
    height: 100%;
    display: block;
    i {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: $secondary-color;
      font-size: 1.1rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
    .tooltip {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 1rem;
      font-size: .7rem;
      border-radius: 50%;
      background-color: #EEE;
      display: block;
      width: 1rem;
      height: 1rem;
      i {
        position: relative;
        top: 0;
        left: 0;
        color: darken(#EEE, 20%);
        font-size: .7rem;
      }
    }
  }
  a:hover, a:focus {
    background-color: $hover-color;
    border: 1px solid $hover-color;
    outline: -webkit-focus-ring-color none;
    color: $white;
    h3 {
      color: $white;
    }
  }
}
