.card {
  margin-bottom: 1rem;
  background-color: $gray-color-ligter;
  padding: 1rem;
  border: 1px solid $gray-color;
  box-sizing: border-box;
  display: block;
    h4 {
      font-size: 1rem;
      font-weight: 300;
      margin: 0 0 1rem 0;
      padding: 0;
    }
    ul {
      margin: 0;
      padding: 0;

    }
    .add-bundle {
      margin-top: 1rem;
      a {
        @extend .button;
        @extend .small;
      }
    }
    .content-link-page {
      list-style: none;
      padding: .6rem 0 .6rem 0;
      border-bottom: 1px solid $gray-color;
      position: relative;
      & > a {
        border: none;
        text-decoration: none;
        font-size: .9rem;
        margin-right: .5rem;
        &:hover {
          color: #000;
        }
      }
      b {
        font-weight: normal;
        font-size: .9rem;
        margin-right: .5rem;
      }
      .dropbutton-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        .dropbutton-widget {
          border: none;
          display: inline-block;
          background-color: transparent;
          padding-right: 0;
          padding-top: 2rem;
          height: 1rem;
          .dropbutton-action {
            a {
              padding: 0 .8rem;
              display: block;
            }
          }
          .dropbutton-toggle {
            width: 2rem;
            bottom: auto;
            button {
              width: 2rem;
              height: 2rem;
            }
          }
          .dropbutton-arrow {
            border-width: 0;
            height: 5px;
            position: relative;
            top: -0.1rem;
            right: 0;
            margin-top: 0;
            width: 5px;
            overflow: visible;
            background-color: $secondary-color;
            border-radius: 50%;
            display: inline-block;
            &:before {
              content: '';
              display: block;
              background-color: $secondary-color;
              border-radius: 50%;
              width: 5px;
              height: 5px;
              position: absolute;
              left: -0.5rem;
            }
            &:after {
              content: '';
              display: block;
              background-color: $secondary-color;
              border-radius: 50%;
              width: 5px;
              height: 5px;
              position: absolute;
              right: -0.5rem;
            }
          }
          .dropbutton-toggle {
            button:hover {
              .dropbutton-arrow {
                background-color: $gray-color-dark;
                &:before, &:after {
                  background-color: $gray-color-dark;
                }
              }
            }
          }
        }
        &.open {
          .dropbutton-widget {
            border: none;
            display: inline-block;
            height: auto;
            .dropbutton {
              border: 1px solid #EEE;
              background-color: #FFF;
              padding: 0.4rem 0;
              right: 0;
            }
          }
          .dropbutton-toggle {
            button {
              background-color: #EEE;
              .dropbutton-arrow {
                background-color: $gray-color-dark;
                &:before, &:after {
                  background-color: $gray-color-dark;
                }
              }
            }
          }
        }
      }
    }

}
