.badge {
  padding: .3rem .6rem;
  background-color: $gray-color-darker;
  text-transform: uppercase;
  font-size: .65rem;
  border-radius: 3px;
  color: $white;
  &--published {
    background-color: $secondary-color;
  }
}
