.card {
  &__item {
    position: relative;
    margin-bottom: 1rem;
  }
  a {
    i {
      i {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: $secondary-color;
        font-size: 1.1rem;
      }
    }
  }
}
