/**
 * Presentational styles for Drupal dialogs.
 */

.ui-dialog {
  background: transparent;
  border: 0;
  position: absolute;
  z-index: 1260;
  padding: 0;
  box-shadow: 0 0 1rem rgba(0,0,0,.3);
  border-radius: 0;
}
@media all and (max-width: 48em) { /* 768px */
  .ui-dialog {
    min-width: 92%;
    max-width: 92%;
  }
}
.ui-dialog .ui-dialog-titlebar {
  background: $primary-color;
  border-radius: 0;
  padding: 15px 49px 15px 15px; /* LTR */
}
[dir="rtl"] .ui-dialog .ui-dialog-titlebar {
  padding-left: 49px;
  padding-right: 15px;
}
.ui-dialog .ui-dialog-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: $white;
  -webkit-font-smoothing: antialiased;
}
.ui-dialog .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  right: 20px; /* LTR */
  top: 20px;
  margin: 0;
  height: 16px;
  width: 16px;
  position: absolute;
}
[dir="rtl"] .ui-dialog .ui-dialog-titlebar-close {
  right: auto;
  left: 20px;
}
.ui-dialog .ui-icon.ui-icon-closethick {
  background: url(../../../../../core/misc/icons/ffffff/ex.svg) 0 0 no-repeat;
  margin-top: -12px;
}
.ui-dialog .ui-widget-content.ui-dialog-content {
  background: #ffffff;
  overflow: auto;
  padding: 1em;
  border: 0;
}
.views-ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0;
}
.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  background: $gray-color;
  /*border-top: 1px solid #bfbfbf;*/
  margin: 0;
  padding: 1rem;
  border-top: 1px solid $gray-color-darker;
  border-radius: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  margin: 0;
  padding: 0;
  float: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
  //padding: 0;
}
.ui-dialog .ui-dialog-content {
  position: static;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  @extend .button;
  @extend .small;
  background-image: none;
  &:not(.button--primary) {
    @extend .secondary-button;
  }
  &.button--danger {
    background-color: $alert-color !important;
  }
}
.ui-button-text-only .ui-button-text {
  padding: 0.8rem 1.2rem;
}
/* Form action buttons are moved in dialogs. Remove empty space. */
.ui-dialog .ui-dialog-content .form-actions {
  padding: 0;
  margin: 0;
}
.ui-dialog .ajax-progress-throbber {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%; /* LTR */
  position: fixed;
  top: 48.5%;
  z-index: 1000;
  background-color: #232323;
  background-image: url(../../../../../core/misc/loading-small.gif);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 24px;
  opacity: 0.9;
  padding: 4px;
  width: 24px;
}
[dir="rtl"] .ui-dialog .ajax-progress-throbber {
  left: auto;
  right: 49%;
}
.ui-dialog .ajax-progress-throbber .throbber,
.ui-dialog .ajax-progress-throbber .message {
  display: none;
}
.views-ui-dialog .views-offset-top {
  border-bottom: 1px solid $gray-color-darker;
}
.ui-dialog .ui-dialog-buttonpane button {
  @extend .button;
}
