.form-item {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
  label:not(.option) {
    display: block;
    font-size: 0.875em;
    margin-bottom: 0.5rem;
    color: darken($gray-color-dark, 20%);
  }
  label.option {
    font-size: 0.8rem;
  }
  .field-suffix {
    font-size: .8rem;
    color: $gray-color-dark;
  }
  .description {
    display: none;
    font-size: 0.750em;
    font-weight: 300;
    margin-top: 0.5rem;
    color: $gray-color-dark;
    a {
      color: inherit;
    }
  }
}

.form-text,
.form-textarea,
.form-email,
.form-url,
.form-search {
  padding: .6rem;
  font-size: .8rem;
  width: 100%;
  color: #000;
  box-sizing: border-box;
  border: 1px solid darken($gray, 5%);
  max-width: 100%;
  &:hover {
    border-color: darken($gray, 20%);
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 0;
    border-color: $secondary-color;
  }
}
.form-textarea {
  width: 100%;
  max-width: 100%;
}
fieldset {
  border: 1px solid $gray-color !important;
  padding-top: 3rem !important;
  margin-bottom: 1rem;
  -webkit-padding-before: 0;
  position: relative;
  legend {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    line-height: 1rem;
    color: #091333;
    background-color: #FAFAFA;
    padding: 1rem;
    display: block;
    border-bottom: 1px solid #F5F5F5;
  }
  .fieldset-wrapper {
    padding: 1rem;
  }
}

.js td .dropbutton-wrapper {
  min-height: 2.5em;
}
.dropbutton-widget {
  display: inline-block;
  border: 1px solid darken($gray, 5%);
  position: relative;
  border-radius: 0;
  overflow: hidden;
  background-color: #FFF;
  &:hover {
    border: 1px solid darken($gray, 20%);
  }
  .dropbutton {
    list-style: none;
  }
  .dropbutton-action {
    a {
      display: block;
      text-decoration: none;
      padding: .6rem;
      font-size: .8rem;
      color: #000;
      &:hover {
       color: $primary-color;
      }
    }
  }
  .dropbutton-arrow {
    font-size: .6rem;
  }
}
.js td.operations,
td.views-field-operations {
  .dropbutton-multiple {
    float: right;
    margin-right: 0;
    padding-right: 0;
    .dropbutton-widget {
      display: inline-block;
      position: relative;
    }
    &.open {
      .dropbutton-widget {
        display: block;
        position: absolute;
        right: 0;
      }
    }
  }
  .dropbutton-single {
    float: right;
    margin-right: 0;
    padding-right: 0;
    .dropbutton-widget {
      display: inline-block;
      position: relative;
    }
  }
}
.form-select-wrapper {
  display: inline-block;
  border: 1px solid darken($gray, 5%);
  position: relative;
  border-radius: 0;
  overflow: hidden;

  &:after  {
    content: '';
    font-size: .6rem;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 0.3333em 0.3333em 0;
    display: block;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -0.1666em;
    width: 0;
    overflow: hidden;
  }
    &:hover {
    border: 1px solid darken($gray, 20%);
  }
  &, > * {
    cursor: pointer;
  }

  .form-select {
    box-sizing: content-box;
    background: #FFF;
    border: 0;
    outline: 0;
    padding: .6rem 30px .6rem .6rem;
    font-size: .8rem;
    border-radius: 0;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;

    -webkit-appearance: none;
       -moz-appearance: radio-container;
            appearance: none;

  }
}
/* Details */
details {
  border: 1px solid $gray-color;
  padding: 0;
  margin-bottom: 1rem;
  summary::-webkit-details-marker {
    display: none !important;
  }
  summary {
    font-size: 1rem;
    line-height: 1rem;
    color: #091333;
    background-color: #FAFAFA;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #F5F5F5;
    }
    &:before {
      content: '+';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      font-size: 1.250em;
      font-weight: 600;
      line-height: 1rem;
    }
  }
  &[open] {
    summary {
      border-bottom: 1px solid #F5F5F5;
      &:before {
        content: '-';
      }
    }
    details {
      summary {
        border-bottom: none;
      }
    }
  }
  .details-description {
    font-size: 0.875em;
    font-weight: 300;
    color: #000;
    padding: 1rem;
    border-bottom: 1px solid #F5F5F5;
  }
  .details-content {
    padding: 1rem;
  }
}

/* Checkbox */
.form-checkbox,
.form-radio {
  visibility: hidden;
  width: 1rem;
  height: 1rem;
  &:before {
    visibility: visible;
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    border: 0.2rem solid $gray-color-middle;
    transition: all 0.2s;
    //margin-right: 1.4rem;
  }
  &:disabled:before {
    border: 0.2rem solid lighten($gray-color-middle, 30%);
  }
  &:checked:before {
    width: 0.4rem;
    height: 0.4rem;
    border: 0.3rem solid $secondary-color;;
  }
  &:checked:disabled:before {
    border: 0.3rem solid lighten($secondary-color, 30%);
  }
}
.form-checkbox + label {
  line-height: 1rem;
  //color: red;
}
.adminic-checkbox {
  width: 40px;
  height: 24px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  border: 1px solid darken($gray, 5%);
  line-height: 1.5rem;
  label {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    transition: all 0.4s ease;
    border: 1px solid darken($gray, 5%);
    background: $gray-color-darker;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 19px;
      background: $secondary-color;
    }
    &:disabled + label {
      background: $white;
      opacity: .3;
    }
    &:checked:disabled + label {
      left: 18px;
      background: $secondary-color;
    }
  }
}
td {
  .adminic-checkbox {
    margin-top: 0.4rem;
    width: 24px;
    label {
      left: 3px;
    }
    input[type=checkbox] {
      &:checked + label {
        left: 3px;
      }
      &:checked:disabled + label {
        left: 3px;
      }
    }
  }
}
/*.js-form-type-checkbox {
  margin: 0 0 0.5rem 0;
  & > label {
    font-size: 0.875em;
    //margin-top: 0.5rem;
    display: inline-block;
    line-height: 1.5rem;
  }
}*/

.adminic-radio {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  border: 1px solid darken($gray, 5%);
  label {
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    transition: all 0.4s ease;
    border: 1px solid darken($gray, 5%);
    background: $gray-color-darker;
  }
  input[type=radio] {
    visibility: hidden;
    &:checked + label {
      background: $secondary-color;
    }
    &:disabled + label {
      background: $white;
      opacity: .3;
    }
  }
}
.js-form-type-radio {
  margin: 0 0 .4rem 0;
  & > label {
    font-size: .8rem;
    margin-top: .4rem;
    display: inline-block;
  }
}

/* Vertical Tabs */
.vertical-tabs {
  border: 1px solid $gray-color;
  .vertical-tabs__menu {
    border-top: none;
    z-index: 99;
    margin-left: -15.1em;
  }
  .vertical-tabs__menu-item {
    background-color: $gray-color-ligter;
    border: 1px solid $gray-color;
    border-right: none;
    border-bottom: none;
    z-index: 99;
    &.is-selected {
      background-color: transparent;
      border-right: 1px solid transparent;
      box-shadow: 5px 0 0 $white;
    }
    a {
      color: #000;
      font-size: .9rem;
      padding: 1rem;
      strong {
        font-weight: normal;
      }
    }
    .vertical-tabs__menu-item-summary {
      font-size: .8rem;
      color: #999;
    }
    &:last-child {
      border-bottom: 1px solid $gray-color;
    }
  }
  .vertical-tabs__pane {
    z-index: 1;
    padding: 1rem;
    min-height: 100%;
    border: none;
    background-color: $white;
  }
}

.form-composite {
  margin-right: 0;
}
.last-checked {
  background: $primary-color;
  color: $white;
  padding: 1rem;
  font-size: .8rem;
  a {
    color: inherit;
    &:hover {
      color: $secondary-color;
    }
  }
}

#blocks {
  .form-item {
    margin: 0;
    padding: 0;
  }
}
.filter-help a {
  @extend .button;
  @extend .mini;
  @extend .gray-button;
}
.compact-link {
  margin-bottom: 1rem;
  a {
    @extend .button;
    @extend .small;
  }
}

/*.js-form-type-item,
.form-composite {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-color;
}*/

.link-edit-summary {
  @extend .button;
  @extend .mini;
  @extend .gray-button;
}

.js-text-format-wrapper {
 .js-form-type-textarea {
   margin-bottom: 0;
 }
  .filter-wrapper {
    border: 1px solid $gray-color;
    //background: $gray-color-ligter;
    .filter-guidelines {
      margin-top: 1rem;
      font-size: .8rem;
      color: #999;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin: 0 0 .4rem 0;
        }
      }
    }
  }
}

.cke_chrome {
  border: 1px solid $gray-color !important;
  .cke_top {
    border-bottom: 1px solid $gray-color;
  }
  .cke_bottom {
    border-top: 1px solid $gray-color;
  }
  &.cke_focus {
    border: 1px solid $secondary-color !important;
  }
}

.tooltip {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 1rem;
  font-size: .7rem;
  border-radius: 50%;
  background-color: #EEE;
  display: block;
  width: 1rem;
  height: 1rem;
  i {
    position: relative;
    top: 0;
    left: 0;
    color: darken(#EEE, 20%);
    font-size: .7rem;
  }
}
