#help {
  padding: 1rem;
  margin: 1rem 0;
  background-color: $gray-color;
  color: darken($primary-color, 20%);
  font-size: 0.875rem;
  position: relative;
  &:after {
    content: '?';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    display: block;
    color: $white;
    font-size: 3rem;
  }
  p {
    margin: 0 0 .5rem;
    line-height: 1.5rem;
    padding: 0;
    &:last-child {
      margin: 0;
    }
  }
  a {
    color: inherit;
  }
}
