@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}
@mixin reset-mp() {
  margin: 0;
  padding: 0;
}
@mixin transition-bg() {
  transition: background-color 200ms cubic-bezier(.58,.0,.8,0);
}
@mixin transition-color() {
  transition: color 200ms cubic-bezier(.58,.0,.8,0);
}
