.pager {
  ul {
    font-size: 0.875rem;
    text-align: center;
    li {
      a {
        text-decoration: none;
        color: #333;
        line-height: 2rem;
        padding: 0 0.25rem;
      }
      &.is-active {
        a {
          color: $secondary-color;
        }
      }
      &.pager__item--first,
      &.pager__item--previous,
      &.pager__item--next,
      &.pager__item--last {
        a {
          @extend .button;
          @extend .small;
        }
      }
      &.pager__item--previous {
        margin-right: 1rem;
      }
      &.pager__item--next {
        margin-left: 1rem;
      }
    }
  }
}
