.panel {
  padding: 0;
  border-bottom: 1px solid #EEF1F6;
  margin-bottom: 1rem;
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  &__title {
    padding: 0;
    margin: 0 0 .5rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: #919296;
  }
}
