#messages {
  margin: 1rem 0;
  ul {
    @include reset-mp();
    li {
      list-style: none;
      margin-bottom: .5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .message {
    padding: 1rem;
    border: $gray-color-darker;
    background-color: $gray-color;
    color: darken($gray-color, 50%);
    font-size: 0.875em;
    font-weight: 300;
    a {
      color: inherit;
    }
    &__error {
      border: $alert-color;
      background-color: $alert-color;
      color: $white;
    }
    &__warning {
      border: $warning-color;
      background-color: $warning-color;
      color: $white;
    }
  }
}
