#breadcrumbs {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $gray;
  ol {
    @include reset-mp();
    font-size: 0;
    li {
      list-style: none;
      display: inline-block;
      font-size: 0.750rem;
      line-height: 1.5rem;
      color: darken($gray, 20%);
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      a {
        color: #CED0D6;
        text-decoration: none;
        margin-right: .6rem;
        display: block;
        font-weight: 600;
        transition: color 0.2s;
        //border-right: 1px solid darken(#EEF1F6, 3%);
        &:hover {
          color: #091333;
        }
        &:after {
          content: '';
          display: inline-block;
          width: 2px;
          height: 1.2rem;
          background-color: $gray-color;
          transform: translate(0, .3rem) rotate(20deg);
          margin-left: .6rem;
        }

      }
      &.active {
        margin-right: 0;
        a {
          color: #525970;
          &:hover {
            color: #091333;
          }
        }
        a:after {
          display: none;
        }
      }
    }
  }
}
