@import "mixins";
@import "variables";

.tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
  &__list--primary {
    border-bottom: 1px solid $gray-color;
    li {
      margin-right: 0.12rem;
    }
    a {
      cursor: pointer;
      color: #CED0D6;
      font-size: 0.750rem;
      font-weight: 600;
      line-height: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid transparent;
      transition: color 0.2s, border-bottom 0.4s;
      &.is-active {
        border-bottom: 1px solid $secondary-color;
        color: #525970;
      }
      &:hover {
        color: #091333;
        border-bottom: 1px solid #091333;
      }
    }
  }
  &__list--secondary {
    margin-top: 1rem;
    border-bottom: none;
    li {
      margin-right: .1rem;
    }
    a {
      background-color: $gray-color-middle;
      color: #FFF;
      font-size: .7rem;
      font-weight: 300;
      line-height: 2.4em;
      padding: 0 1.2em;
      display: inline-block;
      text-decoration: none;
      border-radius: .15rem;
      border: none !important;
      text-transform: uppercase;
      text-shadow: none;
      &.is-active {
        color: #FFF;
        background-color: $secondary-color;
      }
      &:hover, &:focus {
        color: $white;
        background-color: $hover-color;
      }
    }
  }
}
