table {
  width: 100%;
  margin: 0 0 1rem 0;
  border: none;
  border-collapse: collapse;
  thead {
    //border-bottom: 3px solid #EEF1F6;
  }
  tbody {
    border-top: 0.4rem solid $white;
    tr {
      border-bottom: 0.4rem solid $white;
      background-color: $gray-color-ligter;
    }
  }
  th, td {
    border-collapse: collapse;
    padding: .6rem;
  }
  th {
    text-align: left;
    font-size: .65rem;
    text-transform: uppercase;
    letter-spacing: .03rem;
    margin-bottom: .4rem;
    color: darken($gray, 30%);
    font-weight: 400;
    a {
      color: inherit;
      text-decoration: none;
    }
    &.is-active {
      border-bottom: .1rem solid $secondary-color;
    }
  }
  td {
    font-size: .9rem;
    font-weight: 300;
    vertical-align: middle;
  }

  td.empty {
    padding: 1rem 0;
    font-size: 1.2rem;
    background-color: $white;
  }

  .button {
    background-color: $gray-color-middle;
    padding: 0 .6rem;
    line-height: 1.6rem;
    font-size: .7rem;
  }
  .title {
    font-weight: 700;
    color: $primary-color-dark;
  }
  .created,
  .changed {
    color: $gray-color-middle;
    font-size: .8rem;
  }
  a {
    color: $primary-color;
    text-decoration: none;
  }
  .tablesort {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 0 6px;
    &.tablesort--desc {
      background-position: 0 8px;
    }
  }
}
.menu-label {
  font-weight: bold;
}
th.priority-medium {
  //border-bottom: 1px solid darken(#EEF1F6, 10%);
}
.system-modules td {
  vertical-align: middle;
}

.admin-requirements {
  margin-top: 1rem;
  .item-list {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
}
.system-modules {
  .admin-requirements,
  .requirements{
    margin: 0;
  }
  td details {
    padding: 0;
    white-space: pre-wrap;
  }
}
