.toolbar {
	font-family: $font-family;
	.toolbar-tray-horizontal {
	  border-bottom: none;
		box-shadow: none;
	}
	.toolbar-menu {
		background-color: transparent;
	}
	.toolbar-bar {
	  background-color: $toolbar-primary-color;
	  /* Tab */
	  .toolbar-item {
	  	font-weight: normal !important;
		  color: #FFF;
		  text-decoration: none;
		  background-image: none !important;
		  display: block;
		  // Icon only
		  text-indent: -9999px !important;
		  padding-left: 1rem !important;
		  padding-right: 1.3rem !important;
		  &.is-active {
		  	background-color: lighten($toolbar-primary-color, 10%);
		  }
		  &:hover {
		  	background-color: darken($toolbar-primary-color, 10%);
		  }
		  &:before {
    		background-size: 65% auto !important;
  			filter: brightness(100) !important;
  		}
	  }
	  /* Submenu */
		.toolbar-tray {
			background-color: lighten($toolbar-primary-color, 10%);
			box-shadow: none;
			li {
				border: none !important;
				padding: .4rem 0;
				display: block !important;
			}
			a {
				font-size: .8rem;
	  		font-weight: normal !important;
		  	color: #FFF;
		  	text-transform: uppercase;
		  	text-decoration: none;
		  	padding: .6rem 1rem;
		  	border-right: 1px solid lighten($toolbar-primary-color, 5%);
		  	&.toolbar-icon {
		  		padding-left: 2rem;
		  	}
		  	&.is-active {
		  		background-image: none !important;
		  		background-color: lighten($toolbar-primary-color, 10%);
		  	}
		  	&:hover,
		  	&:focus {
		  		text-decoration: none;
		  		background-color: lighten($toolbar-primary-color, 5%);
				}
				&:before {
    			background-size: 75% auto !important;
  				filter: brightness(100) !important;
  				margin-right: .4rem;
  				opacity: .5;
  			}
			}
		}
	}
	.toolbar-icon.toolbar-handle {
		&:before {
			filter: brightness(100) !important;
			background-size: 65% auto !important;
		}
		&:focus {
			background-color: transparent;
		}
	}
	.toolbar-toggle-orientation {
		background-color: transparent;
		.toolbar-icon {
			filter: brightness(100) !important;
			opacity: .5;
			&:hover {
				opacity: 1;
			}
			&:before {
				background-size: 75% auto !important;
			}
		}
	}
	.toolbar-tray-vertical {
		.toolbar-toggle-orientation {
			border-top: 1px solid lighten($toolbar-primary-color, 5%);
		}
		nav ul li {
			display: block !important;
			float: none;
		}
	}
	.toolbar-tray-horizontal {
		.toolbar-toggle-orientation {
			border-left: 1px solid lighten($toolbar-primary-color, 5%);
		}
		> .toolbar-lining {
  		padding-right: 2.5rem;
		}
	}
	.level-2 > ul {
  	background-color: transparent;
  	border: none !important;
	}
	// Edit Shortcuts
	.edit-shortcuts,
	.edit-devel-toolbar {
		font-size: .6rem;
		margin: .4rem 0;
		border-right: none !important;
		color: darken($toolbar-primary-color, 20%) !important;
	}
}