.views-exposed-form {
  background-color: $gray-color-ligter;
  border: 1px solid $gray-color;
  padding: 1rem;
  margin-bottom: 1rem;
  .form-item {
    float: left;
    margin-right: 1rem;
  }
  .form-submit {
    background-color: darken($gray, 10%);
    margin-top: 1.2rem;
  }
}
.views-form {
  form {
    #edit-header {
      .form-item {
        float: left;
      }
      .form-actions {
        margin-top: 1.25rem;
        float: left;
        .form-submit {
          background-color: $gray-color-middle;
          color: $white;
        }
      }
    }
  }
}
.views-ui-dialog .views-offset-bottom {
  border-top: none;
}
/// Views
.views-edit-view {
  .unit-title {
    padding: 1rem;
  }
}
.views-displays {
  border: 1px solid $gray-color;
}
.views-edit-view {
  .views-display-top {
    height: 3rem;
    background-color: $gray-color-ligter;
    border-bottom: 1px solid $gray-color;
    padding: 0;
    .tabs.secondary {
      li {
        list-style: none;
        display: inline-block;
        height: 3rem;
        border-right: 1px solid $gray-color;
        padding: 0;
        margin: 0;
      }
      a {
        line-height: 3rem;
        padding: 0 1rem;
        border: none;
        color: $gray-color-dark;
        text-decoration: none;
        background-color: transparent;
        border-radius: 0;
        text-transform: uppercase;
        &:hover {
          background-color: $gray-color;
        }
        &.is-active {
          color: #000;
          font-weight: bold;
          background-color: #FFF;
          height: 3.1rem;
        }
      }
      li.add {
        .icon {
          top: 1rem;
          margin-right: 0.4rem;
        }
      }
    }
  }
  .form-edit .form-actions {
    background-color: $gray-color-ligter;
    border-right: 1px solid $gray-color;
    border-bottom: 1px solid $gray-color;
    border-left: 1px solid $gray-color;
  }
}

.views-preview-wrapper {
  border: 1px solid $gray-color;
}
.view-preview-form__title {
  background-color: $gray-color-ligter;
  border-bottom: 1px solid $gray-color;
  font-size: 1rem;
}
.views-ui-display-tab-bucket {
  border-bottom: 1px solid $gray-color;
  padding: 0;
  .views-ui-display-tab-bucket__title {
    color: $gray-color-dark;
    text-transform: uppercase;
    background-color: $gray-color-ligter;
    border-bottom: 1px solid $gray-color;
    padding: 0.8rem;
    margin: 0 0 0.4rem 0;
  }
  .views-display-setting {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem !important;
    margin: 0;
    background-color: transparent !important;
    .label {
      margin: 0 0.4rem 0 0;
      //font-weight: bold;
      color: #000;
    }
    .views-ajax-link {
      margin: 0;
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .dropbutton-wrapper {
    top: 0.4rem;
    right: 0.4rem;
    .dropbutton-widget .dropbutton-action a {
      padding: 0.3rem 0.4rem;
      font-size: 0.8rem !important;
    }
  }
}
details.views-display-column .details-content {
  padding: 0 !important;
}
.messages {
  padding: 1rem;
  border: $gray-color-darker;
  background-color: $gray-color;
  color: darken($gray-color, 50%);
  font-size: 0.875em;
  font-weight: 300;
  &.messages--warning {
    border: $warning-color;
    background-color: $warning-color;
    color: $white;
  }
}
