@import "variables";
@import "mixins";
@import "libraries/flex-grid";
@import "tabs";
//@import "toolbar";


@import "card";
@import "admin-block";
@import "adminic-tools";
@import "panel";
@import "status-messages";
@import "system-breadcrumb";
@import "page-title";
@import "table";
@import "local-actions";
@import "forms";
@import "pager";
@import "help";
@import "content";
@import "badges";
@import "types";
@import "views";
@import "dialog";

/* Pages */
@import "pages/update-report";
@import "pages/block-system";
@import "pages/appearance";
@import "pages/people";
@import "pages/help";

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
html, body {
  background-color: $white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: $font-family;
  font-size: 16px;
  background-color: $white;
  //background-image: linear-gradient(-60deg, #F4F4F4, #EEE 50%, #F4F4F4 50%, #EEE);
  //background-size: cover;
}

summary::-webkit-details-marker {
  display: inline-block;
  -webkit-margin-end: 0.4rem;
}
summary[aria-expanded="false"]::-webkit-details-marker {
  display: inline-block;
  width: 0.35rem;
  height: 0.5rem;
  -webkit-margin-end: 0.4rem;
}
summary[aria-expanded="true"]::-webkit-details-marker {
  display: inline-block;
  width: 0.5rem;
  height: 0.35rem;
  -webkit-margin-end: 0.4rem;
}
// system.admin.css
/**
 * Reusable layout styles.
 */
#page {
  padding: 0 1rem;
  margin: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
a {
  color: $primary-color;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
  color: $gray-color-dark;
}
h1 {
  font-size: 2rem;
  letter-spacing: .05rem;
}

h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}

.button {
  background-color: $primary-color;
  color: #FFF;
  font-size: .8rem;
  font-weight: normal;
  line-height: 2.8em;
  padding: 0 1.6em;
  display: inline-block;
  text-decoration: none;
  border-radius: .15rem;
  border: none;
  text-transform: uppercase;
  text-shadow: none;
  &:hover, &:focus {
    background-color: $hover-color;
  }
}
.button.button--small,
.small {
  line-height: 2em;
  padding: 0 1em;

}
.mini {
  line-height: 1.8em;
  padding: 0 .6em;
  font-size: .7rem;
}
.secondary-button {
  background-color: $secondary-color;
  &:hover, &:focus {
    background-color: $primary-color;
  }
}
.gray-button {
  background-color: $gray-color-middle;
  &:hover, &:focus {
    background-color: $primary-color;
  }
}
.tabledrag-toggle-weight {
  @extend .button;
  @extend .small;
  @extend .secondary-button;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
nav {
  ul {
    @include reset-mp();
    li {
      display: inline-block;
      list-style: none;
      @include reset-mp();
    }
  }
}

.tooltip{
  display: inline;
  position: relative;
}

.tooltip:hover:after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(data-tooltip);
  left: 10%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}
