.system-themes-list,
.system-themes-list-uninstalled {
  .theme-info__notes {
    position: absolute;
    top:0;
    left: 0;
    background-color: $gray-color-middle;
    font-size: .7rem;
    text-transform: uppercase;
    line-height: 1.4rem;
    padding: 0 1rem;
  }
  .theme-default {
    .theme-info__notes {
      background-color: $secondary-color;
      color: $white;
    }
  }
  .theme-admin{
    .theme-info__notes {
      background-color: $primary-color-dark;
      color: $white;
    }
  }
  .system-themes-list__header {
    display: block;
    margin-bottom: 1rem;
  }
  .theme-selector {
    background-color: $gray-color-ligter;
    border: 1px solid $gray-color;
    padding: 1rem 1rem 5rem 1rem !important;
    position: relative;
  }
  .screenshot-wrapper {
    position: relative;
    .screenshot,
    .no-screenshot {
      display: block;
      max-width: 100%;
      height: auto;
      float: none;
      padding: 0;
      border: none;
    }
  }
  .theme-info {
    float: none;
  }
  .theme-info__description {
    font-size: .8rem;
    color: $gray-color-middle;
  }
  .operations {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: .4rem;
    li {
      padding: 0 !important;
      margin-right: .4rem;
      margin-bottom: .4rem;
      border-right: none;
    }
    a {
      @extend .button;
      @extend .mini;
      @extend .secondary-button;
    }
  }
}
.theme-default .theme-info__header {
  font-weight: normal;
}
.system-themes-list-uninstalled {
  border-top: none;
}
