#blocks {
  .region-title {

    td {
      font-weight: 700;
      padding-top: 1rem;
    }
    .region-title__action {
      float: right;
    }
  }
  .region-empty {
    td {
      padding: 2rem 0;
      text-align: center;
    }
  }
}
