.views-field-roles-target-id {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}
.permissions {
  .module {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .permission {
    padding-left: 0;
    .title {
      font-weight: normal;
      .placeholder {
        font-weight: bold;
      }
    }
    .description {
      margin-top: .5rem;
      font-size: .8rem;
      color: #999;
    }
  }
  .checkbox {
    .checkbox {
      margin: 0;
      padding: 0;
    }
  }
}
.views-field-user-bulk-form {
  .form-item {
    margin: 0;
    padding: 0;
  }
}
