.project-update__version {
  .project-update__version-links {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}
.project-updates__details {
  color: #999;
  font-size: .8rem;
}
.project-update__status {
  &.project-update__status--security-error {
    color: $alert-color;
  }
  .project-update__status-icon {
    display: none;
  }
}
table .project-update__download-link a,
table .project-update__release-notes-link a {
  @extend .button;
  @extend .small;
  @extend .secondary-button;
}
