{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <ol>
  {% for item in breadcrumb %}
    {% set list_attributes = create_attribute() %}
    {%
      set list_classes = [
        loop.last ? 'active'
      ]
    %}
    <li{{ list_attributes.addClass(list_classes) }}>
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
  </ol>
{% endif %}
