{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.

 * @ingroup themeable
 */
#}
{%
set classes = [
  'tabs__list',
]
%}
{% if primary %}
  <ul{{ attributes.addClass(classes, 'tabs__list--primary') }}>{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <ul{{ attributes.addClass(classes, 'tabs__list--secondary') }}>{{ secondary }}</ul>
{% endif %}
