<nav{{ attributes.setAttribute('id', 'breadcrumbs').setAttribute('role', 'navigation').setAttribute('aria-labelledby', 'system-breadcrumb') }}>
  {{ title_prefix }}{{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
