{%
set classes = [
  'local-actions',
  'clearfix',
]
%}
<nav{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <ul>
      {{ content }}
    </ul>
  {% endblock %}
</nav>
