{#
/**
 * @file
 * Default theme implementation for the content of an administrative block.
 *
 * Available variables:
 * - content: A list containing information about the block. Each element
 *   of the array represents an administrative menu item, and must at least
 *   contain the keys 'title', 'link_path', and 'localized_options', which are
 *   passed to l(). A 'description' key may also be provided.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'admin-block'
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes, 'row') }}>
    {% for item in content %}
      {% set item_attributes = create_attribute() %}
      {%
        set item_classes = [
          'admin-block__item',
          item.title ? item.title|clean_class,
          'col-xs-12',
          'col-sm-6',
          'col-md-4',
          'col-lg-3'
        ]
      %}
    <div{{ item_attributes.addClass(item_classes) }}>
      {% set link_text %}
        <i class="icon icon-{{item.title|clean_class}}"></i>
        <h3>{{ item.title }}</h3>
        {% if item.description %}
          <div class="tooltip" data-tooltip="{{ item.description }}"><i class="icon-help2"></i></div>
        {% endif %}
      {% endset %}
      {{ link(link_text, item.url) }}
    </div>
    {% endfor %}
  </div>
{% endif %}
