{#
/**
 * @file
 * Default theme implementation for a section of the help page.
 *
 * Available variables:
 * - title: The section title.
 * - description: The description text for the section.
 * - links: Links to display in the section.
 * - empty: Text to display if there are no links.
 *
 * @ingroup themeable
 */
#}
<h2>{{ title }}</h2>
<p>{{ description }}</p>
{% if links %}
  {%
  set classes = [
  'admin-block'
  ]
  %}
  {% if links %}
    <div{{ attributes.addClass(classes, 'row') }}>
      {% for link in links %}
        {% set item_attributes = create_attribute() %}
        {%
        set item_classes = [
        'admin-block__item',
        link.text ? link.text|clean_class,
        'col-xs-12',
        'col-sm-6',
        'col-md-4',
        'col-lg-3'
        ]
        %}
        <div{{ item_attributes.addClass(item_classes) }}>
          {{ link }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% else %}
  <p>{{ empty }}</p>
{% endif %}
