{#
/**
 * @file
 * Default theme implementation to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <div class="admin-block row node-add-list">
    {% for type in types %}
      {% set item_attributes = create_attribute() %}
      {%
      set item_classes = [
      'admin-block__item',
      item.title ? item.title|clean_class,
      'col-xs-12',
      'col-sm-6',
      'col-md-4',
      'col-lg-3'
      ]
      %}
      <div{{ item_attributes.addClass(item_classes) }}>
        <h3>{{ type.add_link }}</h3>
      {# <p>{{ type.description }}</p> #}
      </div>
    {% endfor %}
  </div>
{% else %}
<p>
{% set create_content = path('node.type_add') %}
{% trans %}
You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
{% endtrans %}
</p>
{% endif %}
